<div class="home select-none flex flex-col gap-10 items-center h-full justify-center">
  <div class="information text-slate-100 flex flex-col items-center gap-3">
    <span class="text-base">Hello, i'm</span>
    <h1 class="text-3xl font-bold">Cong Pham</h1>
    <span class="text-base">Frontend Developer</span>
  </div>
  <div class="btn flex gap-3">
    <button
      class="download_cv rounded-md border border-emerald-400 p-2 text-emerald-400 "
    >
      Download CV
    </button>
    <button
      class="about_me rounded-md bg-emerald-600 text-black p-2 "
    >
      About me
    </button>
  </div>
  <div class="avatar w-60 h-80 rounded-t-full bg-emerald-600 flex justify-center overflow-hidden">
    <img src="../../assets/image_1.png" alt="" class="h-full mt-10">
  </div>
</div>
