<div
  class="home select-none flex flex-col gap-10 items-center h-full justify-center"
>
  <div class="information text-slate-100 flex flex-col items-center gap-3">
    <span class="text-base">Hello, i'm</span>
    <h1 class="text-3xl font-bold">Cong Pham</h1>
    <span class="text-base">Frontend Developer</span>
  </div>
  <div class="btn flex gap-3">
    <button
      class="download_cv rounded-md border border-emerald-400 p-2 text-emerald-400"
    >
      Download CV
    </button>
    <button class="about_me rounded-md bg-emerald-600 text-black p-2">
      About me
    </button>
  </div>
  <div
    class="avatar w-60 h-80 rounded-t-full bg-emerald-600 flex justify-center overflow-hidden"
  >
    <img src="../../assets/image_1.png" alt="" class="h-full mt-10" />
  </div>
  <div class="link_social_network flex gap-3 flex-col w-full">
    <a
      class="fb"
      href="https://www.facebook.com/profile.php?id=100019594902967"
    >
      <svg
        class="h-6 w-6 text-white"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" />
        <path
          d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3"
        />
      </svg>
    </a>
    <a
      href="https://github.com/phamchicong0604/responsive-portfolio-website/tree/main/project-portfolio-web"
      class="git"
    >
      <svg
        class="h-6 w-6 text-white"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path
          d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"
        />
      </svg>
    </a>
  </div>
</div>
