<div class="about_me flex flex-col gap-10">
  <div class="w-full flex flex-col items-center">
    <span class="text-white">My Intro</span>
    <h1 class="text-emerald-400 text-3xl font-bold">About Me</h1>
  </div>
  <div class="flex gap-10">
    <div class="image">
      <img
        src="../../assets/about-me.png"
        alt=""
        class="rounded-2xl w-80 h-80"
      />
    </div>
    <div style="width: calc(100% - 320px)" class="flex flex-col gap-10">
      <div class="grid grid-cols-3 gap-3">
        <div
          class="flex flex-col gap-2 bg-silver-80 text-white pt-2 rounded-xl"
        >
          <div class="icon w-full flex justify-center">
            <svg
              class="h-6 w-6 text-emerald-400"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <circle cx="12" cy="8" r="7" />
              <polyline points="8.21 13.89 7 23 12 20 17 23 15.79 13.88" />
            </svg>
          </div>
          <h3 class="font-bold text-xl w-full text-center">Experience</h3>
          <span class="text-center">2 Years Working</span>
        </div>
        <div
          class="flex flex-col gap-2 bg-silver-80 text-white pt-2 rounded-xl"
        >
          <div class="icon w-full flex justify-center">
            <svg
              class="h-6 w-6 text-emerald-400"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M21 13.255A23.931 23.931 0 0112 15c-3.183 0-6.22-.62-9-1.745M16 6V4a2 2 0 00-2-2h-4a2 2 0 00-2 2v2m4 6h.01M5 20h14a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"
              />
            </svg>
          </div>
          <h3 class="font-bold text-xl w-full text-center">Completed</h3>
          <span class="text-center">4 Projects</span>
        </div>
        <div
          class="flex flex-col gap-2 bg-silver-80 text-white pt-2 rounded-xl"
        >
          <div class="icon w-full flex justify-center">
            <svg
              class="h-6 w-6 text-emerald-400"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"
              />
            </svg>
          </div>
          <h3 class="font-bold text-xl w-full text-center">interest</h3>
          <span class="text-center">Listen to music,..</span>
        </div>
      </div>
      <div class="text-white">
        <p>
          Frontend developer, I create web pages with UI / UX user interface, I
          hove years of experience and many clients are happy with the projects
          carried out.
        </p>
      </div>
      <div></div>
    </div>
  </div>
</div>
